<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bisection</title>

  <link rel="stylesheet" href="styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>

  <%- include("navBar.ejs") %>

  <%- include("sideNavbar.ejs") %>

  <main >
    <form action="">
      <h1>Bisection Method</h1>
      <br>

      <div class="eight-two">
        <div class="label-input-container">
          <label for="f">Function i.e. f(x): </label>
          <input type="text" name="f" id="f" required/>
        </div>

        <div>
          <label for="unknown">Unknown Value: </label>
          <select name="unknown" id="unknown">
            <option value="x">X</option>
            <option value="y">Y</option>
            <option value="z">Z</option>
          </select>
        </div>
      </div>

      <br>
      <div>
        <div class="label-input-container">
          <label for="Xl">X<sub>L</sub>: </label>
          <input type="number" name="xl" id="xl" required/>
        </div>
        <br>
        <div class="label-input-container">
          <label for="Xr">X<sub>R</sub>: </label>
          <input type="number" name="xr" id="xr" required/>
        </div>
      </div>

      <br>
      <div class="label-input-container">
        <label for="iteration">Iteration: </label>
        <input type="number" name="iteration" id="iteration" required/>
      </div>

      <br>
      <div class="button-container">
        <% if (table) { %>
          <a href="/bisection">
            <button type="button">Clear</button>
          </a>
        <% } %>
        <button type="reset">Reset</button>
        <button type="submit">Calculate</button>
      </div>
    </form>
  </main>

  <% if (table) { %>
    <section class="solution-container">
      <div class="solution-div">
        <h2>SOLUTIONS</h2>
        <br>
        <% for (let i=0; i<table.length; i++) { %> 
          <div class="solution">
            <small>
              <strong>
                Iteration No. <%= i+1 %>
              </strong>
            </small>
            <p>X<sub>L</sub> = <%= table[i]['xlvar'] %></p>
            <p>X<sub>R</sub> = <%= table[i]['xrvar'] %></p>
            <p>f(X<sub>L</sub>) = <%= table[i]['fxl'] %></p>
            <p>f(X<sub>L</sub>) = <%= table[i]['fxla'] %></p>
            <p>f(X<sub>R</sub>) = <%= table[i]['fxr'] %></p>
            <p>f(X<sub>R</sub>) =  <%= table[i]['fxra'] %></p>
            <br>
            <p>X<sub>m</sub> =  <%= table[i]['xm'] %></p>
            <p>f(X<sub>m</sub>) =  <%= table[i]['fxm'] %></p>
            <p>f(X<sub>m</sub>) =  <%= table[i]['fxma'] %></p>
          </div>
        <% }%>
      </div>

      <div class="solution-div">
        <h2>TABLE</h2>
        <br>
        <table>
          <thead>
            <tr>
              <th>Iteration No.</th>
              <th>X<sub>L</sub></th>
              <th>X<sub>R</sub></th>
              <th>f(X<sub>L</sub>)</th>
              <th>f(X<sub>R</sub>)</th>
              <th>X<sub>m</sub></th>
              <th>f(X<sub>m</sub>)</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i=0; i<table.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= table[i]['xlvar'] %></td>
                <td><%= table[i]['xrvar'] %></td>
                <td><%= table[i]['fxla'] %></td>
                <td><%= table[i]['fxra'] %></td>
                <td><%= table[i]['xm'] %></td>
                <td><%= table[i]['fxma'] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
  <% } %>

</body>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'scatter',
    data: {
      datasets: [
        {
          label: 'Estimated Value',
          data: [
            {x: -4, y: 5.84},
            {x: -4, y: 5.84},
            {x:	-4, y: 5.84},
            {x: -3.5, y: 2.09},
            {x: -2, y: -6.16},
            {x: -3, y: -1.1600000000000001},
            {x: -3, y: -1.1600000000000001},
          ],
        }
      ]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

</html>