<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secant</title>


  <link rel="stylesheet" href="styles.css" />
</head>
<body>

  <%- include('navbar.ejs') %>

  <%- include('sideNavbar.ejs') %>

  <main>
    <form action="">
      <h1>Secant Method</h1>
      <br>

      <div class="eight-two">
        <div class="label-input-container">
          <label for="f">Function i.e. f(x): </label>
          <input type="text" name="f" id="f" required/>
        </div>

        <div>
          <label for="unknown">Unknown Value: </label>
          <select name="unknown" id="unknown">
            <option value="x">X</option>
            <option value="y">Y</option>
            <option value="z">Z</option>
          </select>
        </div>
      </div>

      <br>
      <div>
        <div>
          <label for="xa">X<sub>A</sub>: </label>
          <input type="number" name="xa" id="xa" required/>
        </div>
        <br>
        <div>
          <label for="xb">X<sub>B</sub>: </label>
          <input type="number" name="xb" id="xb" required/>
        </div>
      </div>

      <br>
      <div>
        <label for="iteration">Iteration: </label>
        <input type="number" name="iteration" id="iteration" required/>
      </div>

      <br>
      <div class="button-container">
        <% if (table) { %>
          <a href="/secant">
            <button type="button">Clear</button>
          </a>
        <% } %>
        <button type="reset">Reset</button>
        <button type="submit">Calculate</button>
      </div>

    </form>
  </main>

  <% if (table) { %>
    <section class="solution-container">
      <div class="solution-div">
        <h2>SOLUTIONS</h2>
        <br>
        <% for (let i=0; i<table.length; i++) { %> 
          <div class="solution">
            <small>
              <strong>
                Iteration No. <%= i+1 %>
              </strong>
            </small>
            <p>X<sub>A</sub> = <%= table[i]['xavar'] %></p>
            <p>X<sub>B</sub> = <%= table[i]['xbvar'] %></p>
            <p>f(X<sub>A</sub>) = <%= table[i]['fxa'] %></p>
            <p>f(X<sub>A</sub>) = <%= table[i]['fxaa'] %></p>
            <p>f(X<sub>B</sub>) = <%= table[i]['fxb'] %></p>
            <p>f(X<sub>B</sub>) =  <%= table[i]['fxba'] %></p>
            <br>
            <p>X<sub>C</sub> =  <%= table[i]['XPLUSONE_FORMULA'] %></p>
            <p>X<sub>C</sub> =  <%= table[i]['xPlusOne'] %></p>
            <p>f(X<sub>C</sub>) =  <%= table[i]['fxPlusOne'] %></p>
            <p>f(X<sub>C</sub>) =  <%= table[i]['fxPlusOneA'] %></p>
          </div>
          <% }%>
      </div>

      <div class="solution-div">
        <h2>TABLE</h2>
        <br>
        <table>
          <thead>
            <tr>
              <th>Iteration No.</th>
              <th>X<sub>A</sub></th>
              <th>X<sub>B</sub></th>
              <th>f(x<sub>A</sub>)</th>
              <th>f(x<sub>B</sub>)</th>
              <th>X<sub>C</sub></th>
              <th>f(x<sub>C</sub>)</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i=0; i<table.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= table[i]['xavar'] %></td>
                <td><%= table[i]['xbvar'] %></td>
                <td><%= table[i]['fxaa'] %></td>
                <td><%= table[i]['fxba'] %></td>
                <td><%= table[i]['xPlusOne'] %></td>
                <td><%= table[i]['fxPlusOneA'] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
  <% } %>
  
</body>
</html>